* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}
.service-title {
  background-color: #13171c;
  background-image: url("./assets/image/fondo.png");
  color: white;
}

.section-conteiner {
  text-align: center;
  padding: 10px;
  font-size: 40px;
}

.services__title {
  font-size: 42px;
  margin: 40px 0 0 0;
  text-align: center;
}

@media (min-width: 790px) {
  .services__title {
    font-size: 70px;
    margin: 40px 0 0 0;
    text-align: center;
  }
}
.service__txt-special {
  color: #da4167;
}
